@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body,
.wrapper,.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    height: 300px;
}

body {
    background-color: blueviolet;
    min-height: 100vh;
}

.wrapper {
    width: 440px;
    background: #fff;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 30px 38px;
}
.wrapper.content.disable{
    opacity: 0.6;
    pointer-events: none;
}
.wrapper h1 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0px;

}
.wrapper .content{
    width: 100%;
   justify-content: space-between;
}
.content .column{
    border-radius: 5px;
    border-radius: 1px solid #999;
     width: calc(100% / 3-5px); 
    padding: 0px 10px;
}
.column select{
    outline: none;
     border: none; 
    height: 53px;
    width: 100%;
    font-size: 19px;
}
.wrapper button{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    padding :17px 0px;
    border-radius: 12px;
    color:white;
    
    background-color: blue;
}
.k{
    font-size: 30px;
    color: rgb(15, 1, 1);
    font-family: 'Bungee Shade', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');